{% load static %}

{% block cadastro %}
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Registrar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
      <div class="modal-body">
        <form  method="post">
            {% csrf_token %}
            <fieldset>
                <div class="form-group ls-login-user">
                  <label for="userLogin">Nome</label>
                  <input class="form-control ls-login-bg-user input-lg" name="newLogin" type="text" aria-label="Usuário" placeholder="Usuário">
                </div>

                <div class="form-group ls-login-user">
                  <label for="userEmail">Email</label>
                  <input class="form-control ls-login-bg-user input-lg" name="newEmail" type="text" aria-label="Usuário" placeholder="E-mail">
                </div>

                <div class="form-group ls-login-password">
                  <label for="userPassword">Senha</label>
                  <input class="form-control ls-login-bg-password input-lg" name="newPassword" type="password" aria-label="Senha" placeholder="Senha">
                </div>
            </fieldset>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}